<!DOCTYPE html>
<html>
  <head>
    <title>
      Job Site
    </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">   
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    
    <body>
      <div class = 'container' >
      
      <h1 class = "text-center mb-2 "> Careers</h1>
      <img class = 'img-fluid' id = 'banner' src = "https://web-dev-with-python.aabha-j.repl.co/static/image.jpg"class = 'center', width =450, height = 300 >

      <h2 class = 'text-center mt-2'>About</h2>
    
      <p>
        It is difficult to choose what career you want with so many options. We have a list of potential tech careers, what they are and how well they pay. We also give you some potential resources so you can learn the skills nessecary to pursue these careers and make your mark. 
      </p>
        

      <h2 class = 'text-center'>Potential Positions</h2>

      <div>
      <p>
        <div>
          {%for job in jobs%}

          {%include 'job_items.html'%}
          
          {%endfor%}
        </div>
      </p>
      
      <div class = 'text-center '>
      <button class="btn btn-primary mb-3">Contact Us</button>
      </div>
        
      </div>
      
    </body>
  </head>

</html>