<!DOCTYPE html>
<html>
  <head>
    <title>
      Job Site
    </title>
      
    <style>
      h1 {
        font-size: 45;
        font-family: 'Verdana';
        color: rgb(10,20,100);
        text-align: center;
      }
      #banner {
        width:100%

      }
      h2 {
        font-family: 'Verdana';
        color: rgb(63,118,170);
        text-align: center;
      }

      p {
        font-family: 'Verdana';
        color: rgb(46,51,58);
        
      }

      #container{
        max-width: 80%;
        margin: 0 auto 0 auto;
      }
      
    </style>

    
    <body>
      
      <h1>Careers</h1>
      <img id = 'banner' src = "https://web-dev-with-python.aabha-j.repl.co/static/image.jpg"class = 'center', width =450, height = 300 >

      <h2>About</h2>
      
      <div id = 'container'>
      <p>
        It is difficult to choose what career you want with so many options. We have a list of potential tech careers, what they are and how well they pay. We also give you some potential resources so you can learn the skills nessecary to pursue these careers and make your mark. 
      </p>
        </div>

      <h2>Potential Positions</h2>
      <p>Coming soon</p>
      
    <div style = "text-align: center">
      <button>Contact Us</button>
    </div>
      
    </body>
  </head>



  
</html>